<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576599511074-og680qprbhahb2n4f4a32qhhphv8iuhn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576599511074-og680qprbhahb2n4f4a32qhhphv8iuhn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>576599511074-hj6qtfutu6lctb5ov4j0o6nvr1b9jh27.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgemkFRICQkkc5ubLWNKDdGvr3wdujjcs</string>
	<key>GCM_SENDER_ID</key>
	<string>576599511074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KengaBoo</string>
	<key>PROJECT_ID</key>
	<string>kengaboo-468f8</string>
	<key>STORAGE_BUCKET</key>
	<string>kengaboo-468f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576599511074:ios:24b0604cc2d06d9c5ffa7b</string>
</dict>
</plist>